h1 {
    background-color: rgb(25, 7, 218);
    font-style: italic;
    color:white ;
}
p1{
    background-color: aqua;
    color: rgb(12, 14, 14);
    font-style: oblique;
    font-size: 25px;
}
div{
    font-size: 25px;

}

body{
    background-color:rgb(240, 248, 255)
    
}
.data{
    font-size: 25px;
    font-style: italic;
}
h2{
    
    lighting-color: aquamarine;
}
.skills{
    margin-left: 70px;
    margin-top: 100px;
    font-weight: bold;
   background-color: rgb(60, 121, 174);
}

.pskills{
    display: flex;
    padding:30px;
    
}

h1{
    display: inline-block;
}

img{
    border-radius: 50%;
}
h2{
    background-color: rgb(4, 4, 237);
    font-style: italic;
    color: azure;
display: inline-block;
} 
h3{
    background-color: rgb(4, 4, 237);
    font-style: italic;
    color: azure;
display: inline-block;
font-size: 30px;
}